.outer-wrap-footer {
    clear: both;
    //border: 1px solid red;
    width: 92%;
    margin: auto;
    margin-bottom: 1em;
}

.footer-column {
    ul {
        margin: 0;
        padding-left: 1.2em;
        list-style-type: circle;
    }
}

.footer-column {
    //border: 1px solid lime;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1.5em;
    float: left;
    height: 100%;
    width: 26%;
    //text-align: center;
    //background-color: rgb(205, 99, 33);
}

.columns.footer-column-wrapper {
    width: 100%;
    //border: 1px solid pink;
    overflow: auto;       // Om denna rad skippas, hamnar det som kommer efter de tre footerkolumnerna (copyright, license Cookies etc) att bilda en 4:e kolumn.
}


// THE SITE-FOOTER i.e Copyright, license, Cookies etc
.site-footer {
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-type: none;
    }

    li {
        display: inline;
    }
}
