/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

// Style navbar

.rm-default.rm-desktop a {
    margin-top: 1px;
    padding-top: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 1em;
    font-family: "robotoregular";
    //font-size: 16px;
}

.rm-desktop li {
    background-color: transparent;
}

@navbarItemBgColor: transparent;


// Size each item in the header
.site-logo-text,
.navbar2,
.profile {
    float: left;
    width: 30%;
}

.site-header {
    height: 50px;
}

// Site title (i.e. Anax-flat)
.site-logo-text {
    font-size: 2em;

    a {
        text-decoration: none;
    }
}

// För att centrera flash-bilden
// Denna sektion tillhör två separata klasser: inner-wrap och inner-wrap-flash
.inner-wrap.inner-wrap-flash {
    //background-color: gold;
    text-align: center;
}

.flash-image {
    border: 8px ridge #D6DCDA;
    border-radius: 8px;
    padding-right: auto;
    padding-left: auto;
}



.sidebar.sidebar-left.has-sidebar-left.has-sidebar h4 {
    //width: 237px; från början ändrar till:
    padding-left: 10px;
}
