/** -------------------------------------------
/*  header_basic.less
/**-------------------------------------------*/

// rgba(161, 155, 123, 0.5);
// rgb(246, 252, 240);
// rgb(159, 153, 122);


// Defining LESS-variables

@scope: "header";

@baseColor1: #ffffff;
@baseColor2: #000000;

@bgColor: @baseColor1;
@fColor: @baseColor2;

@bgColorHeader: darken(@baseColor1, 15%);

@brdColor: @bgColorHeader;
@brdRadius: 10px;
@ow: outer-wrap;
@iw: inner-wrap;


// Defining mixins
.border(@width: 1px, @style: dashed, @color:  @brdColor, @brdRadius: 0) {
    border: @width @style @color;
    border-radius: @brdRadius;
}

// Modifiering av den responsiva knappmenyn
// (som den defineras i responsive-menu.less)

@maxBgColor:                #DBCDBB;

// .rm-default {
//
//     // The link of the menu item
//     a {
//         padding: 0 !important;
//     }
// }

.rm-max {
    // Customize the mobile menu, hide by default
     .rm-mobile {
        padding-top: @magicNumber*2.5;
        // background-color: @maxBgColor;
     }
}


// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

//
// .rm-small-wrapper {
//     overflow: auto;;
// }

// Style navbar

.rm-default.rm-desktop a {
    padding-top: @magicNumber;
    padding-left: 0.5em;
    padding-right: 0.5em;
    // height: 1em;
    // font-family: "robotoregular";
}

@navbarItemBgColor: transparent;

// .outer-wrap.outer-wrap-header {
//     box-sizing: border-box;
//     .border(2px, solid, black);
//     margin-bottom: @magicNumber/2;         //För att få avstånd mellan site-headern och flash-bilden.
// }

.site-header {
    position: relative;
    box-sizing: border-box;
    // border: 2px solid @bordColor;
    // .border(2px);        // Bortkommenterat 180906
    // background-color: @bgColor;
    // color: @colorHF;
    margin-bottom: @magicNumber/2;         //För att få avstånd mellan site-headern och flash-bilden.
    overflow: auto;     // 171220
    // height: (@magicNumber*3);
}


header.site-header {
    // overflow: auto;         // 171220
    // margin-bottom: @magicNumber/2;         //För att få avstånd mellan site-headern och flash-bilden.
}

// Size each item in the header
.site-logo-text {
    float: left;
    box-sizing: border-box;
    border: 1px dashed @brdColor;
    // .border();
    // background-color: red;
    .column(@columns/4);
    font-family: sans-serif;
    overflow: visible;
    height: 100%;
}

.navbar2 {
    float: left;
    box-sizing: border-box;
    border: 1px dashed @brdColor;
    // .border();
    // .column(@columns/2);
    .column(@columns/12*8);
    height: 100%;
}

.rm-navbar ul.rm-default {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

ul.rm-default.rm-desktop {
    margin: @magicNumber/6;          // 171220
}

// div.outer-wrap.outer-wrap-header {
//     background-color: magenta;
// }

.rm-navbar-max ul.rm-small {
    margin-top: 0;                  // Ta ej bort!
    margin-bottom: 0;               // Ta ej bort!
    height: 100%;
    // background-color: green;
    overflow: auto;     // Har ingen effect!
}

.siteheader .wrap-all ol, .wrap-all ul {
    margin-top: 0;
    margin-bottom: 0;
    // background-color: yellow;
}

.profile {
    float: left;
    box-sizing: border-box;             // Utan denna blir det inge bra...
    border: 1px dashed @brdColor;
    .border();
    // background-color: beige;
    // .column(@columns/4);
    .column(@columns/6);
    height: 52px;
    // overflow: visible;     // Har ingen effect!
    height: 100%;
}

ul.rm-small {
    // background-color: pink;
    // overflow: auto;
}


/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    //left: -140px;
    left: -220px;
}

.site-logo-text-icon {
    img {
        margin-top: @magicNumber/2;
        margin-left:  @magicNumber/2;
        vertical-align: center;
        // border: 1px solid black;
        .border();
        -ms-transform: rotate(28deg); /* IE 9 */
       -webkit-transform: rotate(28deg); /* Safari */
       transform: rotate(28deg); /* Standard syntax */

    }
}


// Site title (i.e. Anax-flat)
.site-logo-text {
    font-family: sans-serif;
    font-size: 2em;
    a {
        text-decoration: none;
    }
}


// // För att centrera flash-bilden
// // Denna sektion tillhör två separata klasser: inner-wrap och inner-wrap-flash
// .@{iw}.inner-wrap-flash {
//     .column(@columns/12*8);
//     .push(@columns/6);
// }

img.flash-image {
    box-sizing: border-box;
    // border: 8px ridge #D6DCDA;
    // border-radius: 8px;
    .border(8px);
}
