/** -------------------------------------------
/*  media-queries.less
/**-------------------------------------------*/

/** --------------------------------------------------------------
 *  Responsive design
 */
img {
    max-width: 100%;
}       // För att inte bilderna ska bli större än sin "förälder" när sidans storlek minskas.


@media screen and (max-width: 920px) {

    // För att texten i breadcrumb ska ligga på h-gridet vid ändring
    // av sidans storlek, och att bildens nedre marginal inte ska sticka iväg!

    .inner-wrap-flash .row {
        // background-color: turquoise;
        height: @magicNumber*9;
    }

}

//*************************************

@media screen and (max-width: 880px) {
    .site-logo-text {
        // background-color: rgba(221, 237, 37, 0.2);
        font-size: 1.75em;
    }

    .me-image {
        height: @magicNumber*8;
        width: @magicNumber*8*0.8;
        // width: 210px;
        margin-left: @magicNumber/2;
    }

    .block.toc {
        width: 95%;
        margin-left: 2px;
        margin-right: 2px;
    }

}
//*************************************

@media screen and (max-width: 820px) {
    .site-logo-text {
        // background-color: rgba(237, 37, 181, 0.2);
        .column(12);
    }

    .navbar2 {
        .column(12);
    }

    .profile {
        .column(12);
    }

    .inner-wrap-flash .row {
        height: @magicNumber*8;
    }

    // HÖGRA SIDOBARENS INNEHÅLL BREDDAS

    .block.toc.article-toc {
        padding: 0 1em @magicNumber/2px 1em;            //top, right, bottom, left
    }

}

//**********************************************


@media screen and (max-width: 725px) {

// Behövs för att få flash-bilden att fylla upp 12 kolumner!
    .inner-wrap.inner-wrap-flash {
        .column(12);
    }

    img.flash-image {
        .column(12);
        // border: 8px ridge gold;
        max-height: 222.27px;           // Behövs för att inte flash-bilden ska "sticka iväg"!
        // margin:  @magicNumber*3;
    }

    .inner-wrap-flash .row {
        height: @magicNumber*10;
    }

    .breadcrumb-wrap {
        .column(8);
        .push(2);
        // margin-bottom: (@magicNumber/2)-2px;
        }

    // Ändrat 180906
    // .content .byline {
    .content.byline {
        .column(8);
        .push(2);
    }

    // ARTIKLARNA + EV. SIDOBARS-INNEHÅLL GÖRS BREDARE

    .main {
        // background-color: rgba(114, 24, 171, 0.12);
        .column(10);
        .push(1);
        // padding: 0.25em 1em 0.25em 1em;     //top, right, bottom, left
    }

    .@{owm} .@{art} {
        // background-color: rgba(172, 116, 78, 0.26);
        width: 68%;
        max-width: 90%;
        .push(1);
    }

    .block.toc.article-toc {
        padding: 0 1em @magicNumber/2px 1em;            //top, right, bottom, left
        width: 95%;
        margin-left: 2.5%;
        overflow: auto;
    }

    .sidebar-left {
       .column(3);
       overflow: auto;
    }

    .main.has-sidebar-left {
        box-sizing: border-box;
        // border: 1px solid rgb(180, 187, 179);
        // background-color: rgba(180, 187, 179, 0.3);
        // background-color: green;
        .column(8);
        //.push(1);
        margin-bottom: (@magicNumber/2)+6px;
        overflow: auto;

        .article {
            box-sizing: border-box;
            // border: 1px dashed rgb(180, 187, 179);
            // background-color: rgba(180, 187, 179, 0.3);
            max-width: 73%;
            width: 73%;
            .push(1.5);
            margin-top: -@magicNumber/2-2px;
            margin-bottom: -(@magicNumber/2)-2px;


            //background-color: green;
            padding: 0 3em 1em 3em;


        }
    }

}


//*************************************

@media screen and (max-width: 670px) {

     .navbar2 {
         display: none;
     }

}


//*************************************

@media screen and (max-width: 630px) {

    .inner-wrap-flash .row {
        height: @magicNumber*9;
    }

    .block.toc.article-toc {
        h4 {
            font-size: 1.15em;
            line-height: 1.2em;
        }
        padding: 0 @magicNumber/2 @magicNumber/2px @magicNumber/2;            //top, right, bottom, left
        // width: 95%;
        // margin-left: 2.5%;
        // overflow: auto;
    }
}


@media screen and (max-width: 560px) {

    .footer-column {
        // border: 2px solid blue;
        .column(10);
        .push(1);
    }


    .footer-column-x.footer-column-2.block {
        // background-color: pink;
        margin-bottom: (@magicNumber)+4px;
    }

    .columns.footer-column-wrapper {
        margin-bottom: @magicNumber+2px;
    }

    // Endast för sidor med side-bar right (för att få alla footer-delar att
    // följa h-gridet).

    // Ändrat 180906
    body.route-grid .content.byline {
    // body.route-grid .content .byline {
        // background-color: blue;
        margin-bottom: (@magicNumber)-4px;
    }

    body.route-grid div.footer-column-x.footer-column-2.block {
        width: 100%;
    }

    // Ändrat 180906
    body.route-typography .content.byline {
    // body.route-typography .content .byline {
        // background-color: blue;
        margin-bottom: (@magicNumber)-4px;
    }

    // Ändrat 180906
    .content.byline {
    // .content .byline {
        .column(10);
        .push(1);
    }

    div.column.footer-column {
        padding-left: @magicNumber;
    }

 // För att texten i breadcrumb ska ligga på h-gridet vid ändring
 // av sidans storlek och att bildens nedre marginal inte ska sticka iväg!
    .inner-wrap-flash .row {
        height: @magicNumber*8;
    }

    body.route-test main {
        .article {
            .push(0.5);
            width: 70%;
        }
    }

    .block.toc.article-toc {
        h4 {
            display: none;
        }
        padding: 0 2px @magicNumber/2px 2px;            //top, right, bottom, left
        overflow: hidden;
    }

    .main.has-sidebar-right {

        .article {
            width: 75%;
            max-width: 90%;
            .push(0.25);
        }
    }

    .me-image {
        height: @magicNumber*7;
        width: @magicNumber*7*0.8;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
}


@media screen and (max-width: 480px) {

    // För att texten i breadcrumb ska ligga på h-gridet vid ändring
    // av sidans storlek, och att bildens nedre marginal inte ska sticka iväg!

    .inner-wrap-flash .row {
        // background-color: turquoise;
        height: @magicNumber*7;
    }

}


@media screen and (max-width: 450px) {

    .main {
        .column(12);
        .push(0);
        }

    .@{owm} .@{art} {
        // background-color: rgba(82, 39, 87, 0.21);
        .push(1);
        max-width: 80%;
    }

    .byline-image {
        float: none !important;
        width: 20%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .byline-image img {
        display: block;
        width: 75px;
        margin-left: auto;
        margin-right: auto;
    }

    .content.byline {
    // .content .byline {
        padding-left: @magicNumber;
    }

    body.route-test main {
        .article {
            // .push(0.5);
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

}


@media screen and (max-width: 410px) {

    // För att texten i breadcrumb ska ligga på h-gridet vid ändring
    // av sidans storlek, och att bildens nedre marginal inte ska sticka iväg!

    .inner-wrap-flash .row {
        // background-color: turquoise;
        height: @magicNumber*6;
        overflow: hidden;
    }

    .flash-wrap {
        // border: 6px solid brown;
        overflow: hidden;
    }

    img.flash-image {
        // 1280x428px
        // max-height: 222.27px;         // Behövs för att inte flash-bilden ska "sticka iväg"!
        max-height: @magicNumber*6 !important;     // Behövs för att inte flash-bilden ska "sticka iväg"!
        min-height: @magicNumber*4.5 !important;
        border-radius: 20px;
        overflow: hidden;
    }

    body.route-test main {
        .article {
            // .push(0.5);
            width: 65%;
            margin-left: auto;
            margin-right: auto;
        }
    }

}


@media screen and (max-width: 350px) {

    .@{owm} .@{art} {
        // background-color: rgba(82, 39, 87, 0.1);
        .push(0);
        width: 65%;
        max-width: 65%;
    }

    .main.has-sidebar-right {
        .column(12);
        overflow: hidden;
        .article {
            width: 75%;
            max-width: 90%;
            .push(0);
            overflow: hidden;
        }
    }

        .sidebar-right {
            // float: none;
            display: none;
        }

        body.route-test main {
            .article {
                // .push(0.5);
                width: 55%;
                margin-left: auto;
                margin-right: auto;
            }
        }
}


@media screen and (max-width: 250px) {

    // Site title (i.e. Anax-flat) görs mindre för att inte krocka med knappmeny
    .site-logo-text {

        font-size: 1.3em;

            a {
                text-decoration: none;      // Om detta tas bort försvinner knappmenyn!
            }
    }

    .@{owm} .@{art} {
        width: 60%;
        max-width: 60%;
    }

}
