/**
 * Regions, basics to show off the regions.
 */

// FONT-QUERIES

 @font-face {
     font-family: 'rubikmedium';
     src: url('fonts/rubik-medium-webfont.woff2') format('woff2'),
          url('fonts/rubik-medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'rubikregular';
     src: url('fonts/rubik-regular-webfont.woff2') format('woff2'),
          url('fonts/rubik-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


// DEFINING FONTS TO BE USED

 h2, h3 {
     font-family: 'rubikmedium';
     color: #0C2230;
 }

 h4 {
     font-family: 'rubikregular';
     color: #0C2230;
 }

 p {
     font-family: "robotoregular";
     color: #0C2230;
 }

 .rm-default.rm-desktop {
    font-size: 1em;
}


 article.article {
     font-size: 1em;
 }

// Diven som tillhör klassen .byline
.byline {
     font-size: 0.95em;
 }

// Diven som tillhör klasserna .column och footer.column
 .column.footer-column {
     font-size: 14px;
 }

.site-footer {
    font-size: 12px;
}


// *******************************

// DEFINING "LESS-VARAIBLES"
 @owm: outer-wrap-main;
 @art: article;

// *******************************

 html {
     background: url(../img/color-1792501_1280-edit5.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     //background-color: #bdd18d;
     overflow-y: scroll;     /*Visa alltid scrollbaren*/
 }


.wrap-all {
    margin: 5px auto;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1em;
    max-width: 960px;
    //background-color: rgba(237, 246, 241, 0.7);
    background-color: rgba(220, 220, 220, 0.7);
}

// MAIN AND SIDEBAR (IF PRESENT)

.sidebar {
    background-color: none;
    width: 15%;
    float: left;
}

.main .has-sidebar {
    width: 75%;
    //float: left;
}

.next-previous {
    min-height: 1em;
    //border: 2px solid yellow;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0.5em;
    //max-width: 672px;
    max-width: 70%;

    .next,
    .previous {
        width: 50%;
        min-height: 1em;
        padding-bottom: 0;
        display: inline;
    }

    .next {
        float: right;
        text-align: right;
        padding-bottom: 0;
    }
}

// Var tvungen att lägga till nav.breadcrumb-list (utöver breadcrumb-list) för att kunna få
//"list-style-type: none" och "display inline" även på "huvud-breadcrumben".
.breadcrumb-list {

    ul {
        //margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline;
    }

    li {
        display: inline;

        &::after {
            content: " » ";
        }
    }
}

.breadcrumb-wrap {
        //max-width: 656px;
        max-width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1em;
        //background-color:  rgb(179, 106, 200);
        //display: inline;    // flyttade sig, men hamnade inte på samma rad
}


.site-header {
    position: relative;
}

// ME-PAGE
.me-image {
    width: 250px;
    border: 6px ridge #D6DCDA;
    border-radius: 6px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    float: right;
}

// ABOUT-PAGE
.about-image {
    background-color: rgb(237, 246, 241);
    width: 10%;
    min-width: 40px;
    border: 4px ridge #D6DCDA;
    border-radius: 4px;
    padding: 0.3em 0.3em 0 0.3em;
    margin-left: 5%;
    margin-right: 85%;
}


// ARTICLES ON ALL PAGES

//Inlagt av aa
.@{art} {
    clear: right;       // Added to get the next-previous bar to "fill up its space" even if previous is not showing.
    //max-width: 65%;
    margin: 1em 10% 1em 10%;  //top, right, bottom, left
    text-align: justify;
}

.route-about .@{owm} .@{art} {
    text-align: left;
}


.@{owm} .@{art} {
    //clear: right;       // Added to get the next-previous bar to "fill up its space" even if previous is not showing.
    max-width: 80%;
    min-height: 25em;
    padding: 0.25em 4em 0.25em 5em;     //top, right, bottom, left
    border-radius: 10px;
    //background-color: rgba(219, 206, 221, 0.40);
    //background-color: rgba(232, 244, 194, 0.4);
    //background-color: rgba(222, 240, 244, 0.4);
    //background-color: rgba(198, 245, 234, 0.4);
    //background-color: rgba(183, 196, 212, 0.4);
    background-color: rgba(162, 121, 187, 0.2);

}

// REPORT-PAGE

// route-report .@{owm} .@{art} {
//         margin-top: 5em;
// }

.main.has-sidebar-left .@{art} {
    margin-top: 0;
    padding-left: 3.5em;
    padding-right: 3.5em;
    padding-bottom: 1em;
    max-width: 68%;
    margin-left: 16%;
    margin-right: 16%;
    background-color: rgba(162, 121, 187, 0.2);
}


// BYLINE

.content .byline {
    max-width: 45%;
    border: 2px solid #D6DCDA;
    border-radius: 4px;
    text-align: left;
    background-color: rgba(235, 242, 227, 0.6);
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.5em;
    padding-bottom: 0.5em;      // För att få ett mellanrum mellan bilden och bylinens ram.
    margin-bottom: 18px;
}

.byline-image {
    margin: 0.5em 1em 0.25em 0.5em;
    //border: 1px solid green;
    border-radius: 8px;
    float: left;
}
